<div class="modal fade login" id="loginModal" tabindex='-1'>
    <div class="modal-dialog login animated">
        <div class="modal-content">
           <div class="modal-header">
              <button type="button" class="close" data-keyboard="true" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Login</h4>
              
              <% if (loginmessage.length > 0) { %>
                <div class="alert alert-danger"><%= loginmessage %></div>
              <% } %>
              <% if (signupmessage.length > 0) { %>
                <div class="alert alert-danger"><%= signupmessage %></div>
              <% } %>
              
          </div>
          <div class="modal-body">  
              <div class="box">
                   <div class="content">
                      <div class="error"></div>
                      <div class="form loginBox">
                          <form method="post" action="/users/login" accept-charset="UTF-8">
                          <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                          <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                          <div class="forgotpassword">
                            <span>
                              <a href="javascript: showForgotPasswordForm();">Forgot Password?</a>
                            </span>
                          </div>
                          <hr>
                          <input class="btn btn-default btn-login" type="submit" value="Login">
                          </form>
                      </div>
                   </div>
              </div>
              <div class="box">
                  <div class="content registerBox" style="display:none;">
                   <div class="form">
                      <form method="post" html="{:multipart=>true}" data-remote="true" action="/users/register" accept-charset="UTF-8">
                      <input id="username" class="form-control" type="text" placeholder="Username" name="username">
                      <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                      <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                      <input id="password2" class="form-control" type="password" placeholder="Confirm Password" name="password2">
                      <hr>
                      <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit">
                      </form>
                      </div>
                  </div>
              </div>
              <div class="box">
                  <div class="content forgotPasswordBox" style="display:none;">
                   <div class="form">
                      <form method="post" html="{:multipart=>true}" data-remote="true" action="/users/forgotpassword" accept-charset="UTF-8">
                      <input id="username" class="form-control" type="text" placeholder="Enter Your Current Username" name="username">
                      <input id="email" class="form-control" type="text" placeholder="Enter Your Current Email" name="email">
                      <input id="password" class="form-control" type="password" placeholder="Enter Your New Password" name="password">
                      <input id="passwordVerification" class="form-control" type="password" placeholder="Confirm New Password" name="passwordVerification">
                      <hr>
                      <input class="btn btn-default btn-passwordupdate" type="submit" value="Update Password" name="commit">
                      </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <div class="forgot login-footer">
                  <span>Looking to 
                       <a href="javascript: showRegisterForm();">create an account</a>
                  ?</span>
              </div>
              <div class="forgot register-footer" style="display:none">
                   <span>Already have an account?</span>
                   <a href="javascript: showLoginForm();">Login</a>
              </div>
          </div>        
        </div>
    </div>
</div>
