
  <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#"> <img src="https://scontent.fyhu1-1.fna.fbcdn.net/v/t35.0-12/28080446_10215044889258251_894566188_o.png?oh=e21d3f1d2b479bbe1a5fbfd6b317ea40&oe=5A859BCB" alt="Metis" height = "50" style = "margin-top: -15px" width = "58"> </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="../">Home</a></li>
              <li><a href="#">Messages</a></li>
            </ul>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group input-group">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>        
              </div>
            </form>
            <ul class="nav navbar-nav navbar-right">S
              <!-- <li><a href="#"><id ="login"></id><span class="glyphicon glyphicon-user"></span> Login</id></a></li> -->
              <li><a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
            </ul>
          </div>
        </div>
      </nav>

