<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#entrypost">Quick Post
            <span></span>
          </button> <!-- Missing user validation -->

          <div class="collapse" id="entrypost">
            <form action="/post" method="POST">
             
              <div class="form-group">
                <br>
                <label style = "font-size: 18px;" >Title</label>
                <input class="form-control input-lg" id="titlebox" type="text" placeholder="Question Title " name="title">
              </div>
              <div>
                <label style = "font-size: 18px;" for="questionDescription">Description</label>
                <textarea class="form-control input-lg" rows="5" placeholder="Enter description..." name="description"></textarea>
              </div>
              <br>
              <button style="float:right;" type="submit" value="submit" class="submit-post btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>