<div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#entrypost">
            <span></span> Quick Post
          </button> <!-- Missing user validation -->
          <div class="collapse" id="entrypost">
            <form action="/post" method="POST">
              <input id="titlebox" type="text" placeholder="Question...Title... " name="title">
              <textarea class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" placeholder="Enter description..." name="description"></textarea>
              <button type="submit" value="submit" class="submit-post btn-sm">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>