<!--
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <img src="paris.jpg" alt="Paris" width="400" height="300">
        <p><strong>Paris</strong></p>
        <p>Fri. 27 November 2015</p>
        <button class="btn btn-primary">Info</button>
      </div>  -->
      <div>
          <p> Recent Posts... </p>
         
        </div>

         <% for(var i = 0; i<3; i++){
           %>

        <div class="well">
          <a href="/post/<%= post[i]._id %>/user/<%= post[i].author.id %>/<%= post[i].title %>" class="wraptxt"> <h5><%= post[i].title %></h5> </a>
        </div>
        
        <%  } %>  