<% include ./header %>
<div class=container>
    <div class="row">
        
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <h4>Post Title</h4>
                    <p>Note that this is hard coded</p>
                </div>
            </div>
            <div class="well">
                    <h1>Add New Comment to  "post.name" </h1>
    
                    <form action="/posts/<%= post._id%>/comments" method="POST">
                        <div class="form-group">
                            <!-- following line will be changed to textarea -->
                            <input class="form-control" type="text" name="comment[text]" placeholder="text">
                        </div>
                        
                    
                        <div class="form-group">
                            <button class="btn btn-sm btn-default btn-block">Submit! </button>
                        </div>
                    </form>
                
                <hr>
                <% post.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                                <strong><%= comment.author.username %></strong>
                                <span class="pull-right">time stamp</span>
                                <p><%= comment.text %></p>
                        </div>
                    </div>
                    
                <% }) %>
                
            </div>
        </div>
    </div>
</div>







<% include ./footer %>