body { padding-top: 70px; }
textarea { 
    height: 250px;
    width: 100%;
    top: 7.5px;
    bottom: 7.5px;
    border-radius: 5px;
    resize: none; }

.submit-post {
    top: 30px;
}

#titlebox {
    width: 50%;
}

#title {
    font-size: 18px;
}